@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    background-color: #202020;

    width: 100%;
    height: 100%;
}

.main {
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;

    margin: auto;

    transform: translate(-50%, -50%);
    animation: animIn cubic-bezier(0.65, 0, 0.35, 1) 1s;
}

.main img {
    width: 15rem;
    margin: auto;
}

.main p {
    margin: auto;
    font-size: 2rem;
    color: white;
}

.main span.imposter {
    font-size: 2.3rem;
    color: #e74c3c;
}

.main .sus {
    font-size: 0.5rem;
}

.xmain {
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;

    width: 50rem;

    transform: translate(-50%, -50%);
    animation: animIn cubic-bezier(0.65, 0, 0.35, 1) 1s;
    filter: drop-shadow(0 0 0.14rem black);
}

@keyframes animIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -5%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
